*{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%; 
}
#main
{
    display: flex;
    height: 800px;
    width: 100%;
    color: rgb(255, 115, 0);
}

#left
{
    /* background-color: rgb(102,102,255); */
    position: relative;
    height: 100%;
    width: 20%;
    /* border: 2px solid grey; */
}
#left #midtext {
    background-color: rgb(215,226,243);
    border-radius: 5px;
    margin: 20px 20px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    /* border: 2px solid navy; */

}
#midtext a{
    display: -webkit-box;
    justify-content: space-between;
    line-height: 1.5;
    opacity: .7; 
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
    /* border-bottom: 2px solid navy; */
}
#midtext :hover{
    cursor: pointer;
    color: gray;
}

#right
{
    /* display: flex; */
    height: 100%;
    width: 80%;
    /* border: 2px solid grey; */

    /* background-color: rgb(55, 0, 255); */
} 
#righttop
{
    display:flex ;
    height: 50%;
    width: 100%;
    background-color: rgb(0, 255, 106);
}
#sale{
    display: flex;
}
#salecards
{
    margin: 1px;
    height: 130px;
    width: 120px;
    border: 2px solid darkblue;
}
.salecard1{
    background-image: url("gheadphones.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.salecard2{
    background-image: url("set.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#topright
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#sale {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: sale 5s infinite;
  } 

.next-button {
    background-image: url("icons8-next-50.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#next-left{
    transform: rotate(180deg);
}
  
  .next-button:hover {
     background-color:  rgb(189, 184, 184); 
  }
  
#container{
    border: 2px solid blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
}

#containerHeading,h1
{
    left: 50%;
    position: absolute;
    align-self: self-start;
    color: #1533da;
}
#footer
{
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    height: auto;
    padding: 15px 30px;
}
#footer a{
    text-decoration: underline;
    display: -webkit-box;
    line-height: 1.5;
    padding-bottom: 2px;
}
#rightfooter{
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateY(-126%);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    height: 290px;
    width: 188px;
    border: 1px solid grey;
}
#card1{
    background-image: url("shoes.jpg");
}
#card2{
    background-image: url("headphones.jpg");
    
}
#card3{
    background-image: url("hoodie.jpg");
}
#card4{
    background-image: url("trousers.jpg");
}
.cards .cardBtn{
    width: 188px;
    font-size: 15px;
    border-radius: 5px;
    padding: 3px 4px;
}
.cards .cardBtn:hover{
    width: 189px;
    color: #4f9291;
    background-color: azure;
}
.cards .cardBtn{
    font-size: 700;
    color: azure;
    background-color: #478382;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    /* float: left; */
}
#btn2{
    font-size: 700;
    color: white;
    background-color: #736B6B;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    float: right;
}
#lnav {
    height: 20px;
    width: auto;
    /* border: 2px solid grey; */
}
#lnav a{
    font-weight: 550;
    color: navy;
    text-decoration: none;
    margin: 20px 30px;
}
#lnav a:hover{
    transition: 2s;
    color: #1533da;
    border-bottom: 2px solid #1533da;
}
